# Python
__pycache__/
*.pyc
.venv/
.env
*.egg-info/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.next/
.vercel/

# OS
.DS_Store

# Secrets
*.pem
*.json.key
*.xlsx

sizl-beta-keys/
sizl-beta-test-sheet-service-account.json
settings.local.json